.line {
    width: 90%;
    height: 0.2vh;
    background-color: black;
    box-shadow: 0 0 0 0 black;
    margin: 4% 5%;
}

.container {
    width: 95%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2.5%;
}

.container h1 {
    position: absolute;
    top: 0;
}

.card {
    width: 18%;
    height: 5vh;
    position: relative;
}

.card .info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 15;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in;
}

.card:hover .info {
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease-in;
}

.card .info h2.title {
    font-size: 1.2rem;
    margin-bottom: 5%;
}

.card .info p {
    font-size: 0.6rem;
}