#login {
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#login .logo {
    border-radius: 50%;
    margin-bottom: 5%;
}

#login form {
    width: 100%;
    box-shadow: 0px 0px 22px black;
    padding: 7% 7% 4% 7%;
    font-size: 1.2rem;
}

#login form .group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.6rem;
}
#login form .group:nth-child(3n) {
    margin-bottom: 1.6rem;
}

#login form .group label {
    width: 40%;
}
#login form .group input {
    width: 60%;
}

#login form .actions {
    text-align: center;
}
#login form .actions button {
    background-color: #A0BEF3;
    font-size: 1.2rem;
    color: black;
    border-radius: 12px;
    padding: 1% 4%;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    #login {
        width: 55vw;
    }
}

@media screen and (max-width: 400px) {
    #login {
        width: 90vw;
    }
}